Требования к библиотеке QuizLib

Класс Quiz
- Конструктор по умолчанию
- void addQuestion(text, vector<string> answers, int correctIndex)
- void start() - запускает викторину, получает ответы пользователя, выводит результат каждого вопроса и итоговый счёт
- int getScore() - возвращает набранные баллы
- void reset() - сбросить счёт и вопросы (очистить все вопросы)

Вспомогательные методы (статические):
- int inputInt(string prompt) - ввод целого числа с проверкой
- string inputString(string prompt) - ввод строки (обрезает пробелы)

Вопросы хранятся в векторе. Для каждого вопроса:
- текст вопроса 
- список вариантов (строки)
- номер правильного ответа (от 0 до n-1)

При старте викторины:
- выводится вопрос, затем варианты с номерами (1, 2, 3...)
- пользователь вводит номер ответа (проверка на корректность)
- если ответ правильный - начисляется 1 балл, выводится "Правильно!"
- иначе - "Неверно. Правильный ответ: ..."
- после всех вопросов - итоговый счёт.

Ввод-вывод через консоль.